body {
  font-family: 'Myriad Pro', 'Nunito', sans-serif;
  margin: 0px;
  color: #141414;
  background-color: #FAFAFA;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
}

.info {
  font-family: "Myriad Pro";
  text-align: center;
  margin: 0 auto;
  max-width: 760px;
}

.info h1 {
  font-size: 3rem;
  padding-bottom: 10px;
}

.info p {
  font-family: "Nunito";
  font-size: 1.175rem;
  color: #717171;
  padding-bottom: 20px;
}

.btn {
  font-family: "Nunito";
  font-weight: 800;
  display: block;
  background-color: #00ACEC;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 300px;
  max-height: 40px;
  font-size: 1.225rem;
  padding: 10px 10px;
  border-radius: 20px;
  text-align: center;
}

.iphone {
  padding: 40px 0px;
  max-width: 1020px;
  max-height: 600px;
  margin: 0 auto;
  align-items: center;
}



.transmissoras {
  max-width: 1600px;
  height: 120px;
  padding: 20px;
  background: linear-gradient(#00ACEC,#BBD147);
}

.transmissoras p {
  color: #fff;
  font-size: 1.225rem;
  text-align: center;
  font-weight: 200;
}

.logos-transmissoras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.logos-transmissoras img{
  margin: 0 auto;
}

.slide-up {
  position: relative;
  animation: slideUp 2s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 980px) {
  .iphone {
    max-width: 760px;
    max-height: 1200px;
  }
}

@media (max-width: 840px) {
  .iphone {
    max-width: 760px;
    max-height: 1200px;
  }

  .transmissoras{
    height: 180px;
  }

  .logos-transmissoras {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 465px) {
  .info h1 {
    padding: 10px;
    font-size: 1.725rem;
    margin: 0 auto ;
  }
  .info p {
    padding: 0px 20px 20px 20px;
  
  }
  .iphone {
    max-width: 360px;
    display: block;
  }

  .logos-transmissoras {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .transmissoras {
    max-width: 100%;
    height: 180px;
    padding: 20px;
  }
}